<h2>Записавшиеся</h2>
<table class="table table-striped">
 <tr>
 <td>
 Имя
 </td>
 <td>
 Телефон
 </td>
 <td>
 Дата
 </td>
 <td>
 Парикмахер
 </td>
 <td>
 Цвет
 </td>
 </tr>
 <%=@table_users%>
</table>



